body {
	color: lightgrey;
	background-image: url(https://i.imgur.com/sAlhwH6.jpg);
  }
  a {
	color: lightgrey;
  }
  div.padout_xsm {
	margin-bottom: 25px;
  }
  div.padout_sml {
	margin-bottom: 50px;
  }
  div.padout_med {
	margin-bottom: 100px;
  }
  div.padout_lrg {
	margin-bottom: 150px;
  }
  div.padout_xlr {
	margin-bottom: 200px;
  }
  div.center {
	text-align: center;
  }